@media only screen and (max-width: 768px) {
    .auth-container {
        flex-direction: column;
    }

    .auth-bg {
        padding: 20px 0;
    }

    .auth-form {
        margin: auto;

        footer {
            position: static;
            margin-top: 20px;
        }
    }

    .app-container {
        flex-direction: column;
    }

    aside, .app-title, .user-panel, .search-bar, .sidenav {
        width: 100%;
    }

    aside.sidenav-hide {
        height: 0;
        display: none;
    }
}